@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
:root {
  --imperial-red: #e63946;
  --honeydew: #f1faee;
  --powder-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;
  
}

html > * {
  font-family: 'IBM Plex Sans';
}
#searchBox {
  font-family: FontAwesome,'IBM Plex Sans';
}
a {
  color: unset;
}

body {
  background-color: whitesmoke;
}

.navbar {
  height: 100px !important;
}

.btn-red {
  background-color: var(--imperial-red);
  color: white;
}

.btn-blue {
  background-color: var(--prussian-blue);
  color: white;
}

#profile-picture {
  width: 75px;
  height: 75px;
  border: white 3px solid;
  border-radius: 5px;
}

#profile-name {
  margin: 1rem;
  font-size: larger;
}

.bg-dark {
  background-color: var(--prussian-blue) !important;
}

.bg-dark > * {
  color: white;
}


.card-img {
  height: 300px;
  width: 200px;
  object-fit: fill;
}

.border-primary {
  border-color: var(--imperial-red) !important;
  border-width: 2px !important;
}

.border-secondary {
  border-color: var(--prussian-blue) !important;
  border-width: 2px !important;
}

.card-body {
  max-width: 400px;
}

